<section class="current-weather">
  <div class="container">
    <h2 class="current-weather__city">Burgos, ES</h2>
    <div class="current-weather__wrapper">
      <div class="current-weather__today">
        <h3 class="current-weather__time">Today</h3>
        <div class="weather-info">
          <img
            class="weather-info__image"
            src="http://openweathermap.org/img/wn/02n@2x.png"
            width="50"
            height="50"
            alt="${weatherItem.description} icon"
          />
          <div class="weather-info__wrapper">
            <h3 class="weather-info__title">Clear, 12°C</h3>
            <p class="weather-info__text">Feels like 12°C</p>
          </div>
        </div>
        <ul class="weather-more-info">
          <li class="weather-more-info__item">
            <i
              style="transform: rotate(${wind.deg - 180}deg)"
              class="weather-more-info__icon"
              data-lucide="navigation-2"
            ></i>
            <p class="weather-more-info__text">12m/s NE</p>
          </li>
          <li class="weather-more-info__item">
            <i class="weather-more-info__icon" data-lucide="gauge"></i>
            <p class="weather-more-info__text">1000hPa</p>
          </li>
          <li class="weather-more-info__item">
            <i class="weather-more-info__icon" data-lucide="droplets"></i>
            <p class="weather-more-info__text">75%</p>
          </li>
          <li class="weather-more-info__item">
            <i class="weather-more-info__icon" data-lucide="sunrise"></i>
            <p class="weather-more-info__text">8:00</p>
          </li>
          <li class="weather-more-info__item">
            <i class="weather-more-info__icon" data-lucide="sunset"></i>
            <p class="weather-more-info__text">20:00</p>
          </li>
          <li class="weather-more-info__item">
            <i class="weather-more-info__icon" data-lucide="eye"></i>
            <p class="weather-more-info__text">10km</p>
          </li>
        </ul>
      </div>
      <ul class="daily-forecast">
        <li class="daily-forecast__item">
          <h3 class="daily-forecast__time">Tomorrow</h3>
          <div class="weather-info">
            <img
              class="weather-info__image"
              src="http://openweathermap.org/img/wn/02n@2x.png"
              width="50"
              height="50"
              alt="${weatherItem.description} icon"
            />
            <div class="weather-info__wrapper">
              <h3 class="weather-info__title">Clear, 12°C</h3>
              <p class="weather-info__text">Feels like 12°C</p>
            </div>
          </div>
          <ul class="weather-more-info weather-card__more-info">
            <li class="weather-more-info__item">
              <i
                style="transform: rotate(${wind.deg - 180}deg)"
                class="weather-more-info__icon"
                data-lucide="navigation-2"
              ></i>
              <p class="weather-more-info__text">12m/s NE</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="gauge"></i>
              <p class="weather-more-info__text">1000hPa</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="droplets"></i>
              <p class="weather-more-info__text">75%</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunrise"></i>
              <p class="weather-more-info__text">8:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunset"></i>
              <p class="weather-more-info__text">20:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="eye"></i>
              <p class="weather-more-info__text">10km</p>
            </li>
          </ul>
        </li>
        <li class="daily-forecast__item">
          <h3 class="daily-forecast__time">Tomorrow</h3>
          <div class="weather-info">
            <img
              class="weather-info__image"
              src="http://openweathermap.org/img/wn/02n@2x.png"
              width="50"
              height="50"
              alt="${weatherItem.description} icon"
            />
            <div class="weather-info__wrapper">
              <h3 class="weather-info__title">Clear, 12°C</h3>
              <p class="weather-info__text">Feels like 12°C</p>
            </div>
          </div>
          <ul class="weather-more-info weather-card__more-info">
            <li class="weather-more-info__item">
              <i
                style="transform: rotate(${wind.deg - 180}deg)"
                class="weather-more-info__icon"
                data-lucide="navigation-2"
              ></i>
              <p class="weather-more-info__text">12m/s NE</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="gauge"></i>
              <p class="weather-more-info__text">1000hPa</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="droplets"></i>
              <p class="weather-more-info__text">75%</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunrise"></i>
              <p class="weather-more-info__text">8:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunset"></i>
              <p class="weather-more-info__text">20:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="eye"></i>
              <p class="weather-more-info__text">10km</p>
            </li>
          </ul>
        </li>
        <li class="daily-forecast__item">
          <h3 class="daily-forecast__time">Tomorrow</h3>
          <div class="weather-info">
            <img
              class="weather-info__image"
              src="http://openweathermap.org/img/wn/02n@2x.png"
              width="50"
              height="50"
              alt="${weatherItem.description} icon"
            />
            <div class="weather-info__wrapper">
              <h3 class="weather-info__title">Clear, 12°C</h3>
              <p class="weather-info__text">Feels like 12°C</p>
            </div>
          </div>
          <ul class="weather-more-info weather-card__more-info">
            <li class="weather-more-info__item">
              <i
                style="transform: rotate(${wind.deg - 180}deg)"
                class="weather-more-info__icon"
                data-lucide="navigation-2"
              ></i>
              <p class="weather-more-info__text">12m/s NE</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="gauge"></i>
              <p class="weather-more-info__text">1000hPa</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="droplets"></i>
              <p class="weather-more-info__text">75%</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunrise"></i>
              <p class="weather-more-info__text">8:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunset"></i>
              <p class="weather-more-info__text">20:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="eye"></i>
              <p class="weather-more-info__text">10km</p>
            </li>
          </ul>
        </li>
        <li class="daily-forecast__item">
          <h3 class="daily-forecast__time">Tomorrow</h3>
          <div class="weather-info">
            <img
              class="weather-info__image"
              src="http://openweathermap.org/img/wn/02n@2x.png"
              width="50"
              height="50"
              alt="${weatherItem.description} icon"
            />
            <div class="weather-info__wrapper">
              <h3 class="weather-info__title">Clear, 12°C</h3>
              <p class="weather-info__text">Feels like 12°C</p>
            </div>
          </div>
          <ul class="weather-more-info weather-card__more-info">
            <li class="weather-more-info__item">
              <i
                style="transform: rotate(${wind.deg - 180}deg)"
                class="weather-more-info__icon"
                data-lucide="navigation-2"
              ></i>
              <p class="weather-more-info__text">12m/s NE</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="gauge"></i>
              <p class="weather-more-info__text">1000hPa</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="droplets"></i>
              <p class="weather-more-info__text">75%</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunrise"></i>
              <p class="weather-more-info__text">8:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunset"></i>
              <p class="weather-more-info__text">20:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="eye"></i>
              <p class="weather-more-info__text">10km</p>
            </li>
          </ul>
        </li>
        <li class="daily-forecast__item">
          <h3 class="daily-forecast__time">Tomorrow</h3>
          <div class="weather-info">
            <img
              class="weather-info__image"
              src="http://openweathermap.org/img/wn/02n@2x.png"
              width="50"
              height="50"
              alt="${weatherItem.description} icon"
            />
            <div class="weather-info__wrapper">
              <h3 class="weather-info__title">Clear, 12°C</h3>
              <p class="weather-info__text">Feels like 12°C</p>
            </div>
          </div>
          <ul class="weather-more-info weather-card__more-info">
            <li class="weather-more-info__item">
              <i
                style="transform: rotate(${wind.deg - 180}deg)"
                class="weather-more-info__icon"
                data-lucide="navigation-2"
              ></i>
              <p class="weather-more-info__text">12m/s NE</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="gauge"></i>
              <p class="weather-more-info__text">1000hPa</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="droplets"></i>
              <p class="weather-more-info__text">75%</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunrise"></i>
              <p class="weather-more-info__text">8:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="sunset"></i>
              <p class="weather-more-info__text">20:00</p>
            </li>
            <li class="weather-more-info__item">
              <i class="weather-more-info__icon" data-lucide="eye"></i>
              <p class="weather-more-info__text">10km</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
