<section class="weather-forecast">
  <div class="container">
    <div class="weather-card">
      <h2 class="weather-card__city">Burgos, ES</h2>
      <div class="current-weather">
        <img
          class="current-weather__image"
          src="http://openweathermap.org/img/wn/01n@2x.png"
          width="50"
          height="50"
          alt="clear sky icon"
        />
        <div class="weather-info">
          <h3 class="weather-info__title">Clear sky, 13°C</h3>
          <p class="weather-info__text">Feels like 13°C. Light breeze</p>
        </div>
        <ul class="weather-more-info">
          <li class="weather-more-info__item">Wind: 2.6m/s NE</li>
          <li class="weather-more-info__item">Pressure: 1017hPa</li>
          <li class="weather-more-info__item">Humidity: 88%</li>
          <li class="weather-more-info__item">Min temp: 13°C</li>
          <li class="weather-more-info__item">Max temp: 14.18°C</li>
        </ul>
      </div>
    </div>
  </div>
</section>
